* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a{
  padding:0.5rem 1rem;

}
.current{
  color:green;
}
.nav-pradip{
  height:20px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.blue{
  color:blue;
}
.bookmark-image{
  width:auto;
  height:35vh;
  object-fit: cover;
  object-position: center center;
}
.search-resize{
  width:50vh;
  height:40vh;
  object-fit: cover;
  object-position: center center;
}